<!DOCTYPE html>
{% extends 'manager/base.html' %}

{% block header_block %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/add_package.css' %}" />

{% endblock %}

{% block body_block %}

<div id="static">
<div id="package_input">
    <label>Package input</label>
    <p class="help-block">Move your cursor on the Choose File button, you can see what file you will upload.</p>
    <input type="file" name="file" id="file" webkitdirectory/>
</div>

<div id="name_version">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Package name">
    </br>
    <label>Version</label>
    <input type="text" class="form-control" placeholder="e.g.1.7.2">
</div>

<div id="commit">
    <label>Commit</label>
    <textarea rows="5" cols="50" style="resize:none;" style="border: 0">abc</textarea>
</div>

<div id="button">
    <button type="submit" class="btn btn-default">Upload</button>
</div>
</div>

{% endblock %}