<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <!-- import fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />

    <!-- setup base stylesheet (controls basics for all pages) -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/base.css' %}"
    />
    <link rel="icon" href="{% static 'logo.png' %}" />
    <title>Package manager</title>
    <!-- let each page set its own head elts. i.e. its own stylsheet. -->
    {%block header_block%} {%endblock%}
  </head>
  <body>
    <header>
      <a class="top_link" href="{% url 'manager:index' %}">
        <img id="logo" src="{% static 'logo.png' %}" alt="logo" />
      </a>
      <a class="top_link" href="{% url 'manager:explore' %}"
        ><h1>explore packages</h1>
      </a>
      <a class="top_link" href="{% url 'manager:contact' %}"
        ><h1>contact us</h1></a
      >
      {% if user.is_authenticated %}
      <a
        class="top_link"
        href=" {% url 'auth_logout' %}?next={% url 'manager:index' %}"
        ><h1>Log Out</h1></a
      >
      <img id="avatar" src="{{ user.userprofile.avatar.url }}" alt="avatar" />
      {% else %}
      <a class="top_link" href="{% url 'auth_login' %}"><h1>Log In</h1></a>
      {% endif %}
      <!-- or logout; work out how to do that -->
    </header>
    <div class="body_container">{% block body_block %} {% endblock %}</div>
  </body>
</html>
