{% extends 'manager/base.html' %}
{% load staticfiles %}

{% block body_block %}
	<h1>About Package Manager & how you can contact us</h1>

	<div id="about">
		Package Manager has been developed to help users create, share, and leave feedback 
		on each other's packages. As a result, people have the ability to download tools that
		will help them in their personal projects as well as publish their existing projects in
		order to obtain feedback on how to improve them.
	</div>

	<div id="contact">
		Package manager, just like any other package here, is a project that may not be fault-free.
		If you come across any issues while using our site or have feedback on how we can improve
		your experience by adding new features, please do not hesitate to contact us.
		<table>
			<thead>
				<tr>
					<th colspan="2">How to contact us</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Twitter</td>
					<td>@thepackagemanager</td>
				</tr>
				<tr>
					<td>Email</td>
					<td>packagemanager@gmail.com</td>
				</tr>
				<tr>
					<td>Telephone</td>
					<td>+44 9876 543210</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}