<!DOCTYPE html>
{% extends 'manager/base.html' %}

{% block header_block %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/explore.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles/page_turn.css' %}"/>

{% endblock %}{% block body_block %}

{% block body_block %}

<div id="static">

    <div id="top_5packages">
        <h3>Most likes Packages</h3>
            {% if packages %}

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Package name</th>
                    <th>Version</th>
                    <th>Author</th>
                    <th>Downloads</th>
                    <th>Views</th>
                    <th>Detail</th>
                </tr>
                </thead>
                {% for package in packages %}
                <tr>
                    <td>{{ package.name }}</td>
                    <td>{{ package.version }}</td>
                    <td>{{ package.author }}</td>
                    <td>{{ package.download }}</td>
                    <td>{{ package.views }}</td>
                    <td><a href="">check</a></td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
        <strong>There are no packages present.</strong>
        {% endif %}
    </div>

    <div id="search_packages">
        <h3>Search Packages</h3>
        <a href="{% url 'manager:explore' %}">explore packages</a>
        {% if packages %}

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Package name</th>
                    <th>Version</th>
                    <th>Author</th>
                    <th>Views</th>
                    <th>Detail</th>
                </tr>
                </thead>
                {% for package in packages_explore %}
                <tr>
                    <td>{{ package.name }}</td>
                    <td>{{ package.version }}</td>
                    <td>{{ package.author }}</td>
                    <td>{{ package.views }}</td>
                    <td><a href="">check</a></td>
                </tr>
                {% endfor %}
            </table>
        <div class="page">
            {% if packages_before %}
            <a href="">Previous</a>
            {% else %}
            <span class="previous_page disabled">Previous</span>
            {% for page in %}
            <a href="">1</a>
            {% endfor %}
            {% if packages_after %}
            <a href="">Next</a>
            {% else %}
            <span class="next_page disabled">Next</span>
        </div>
        {% else %}
        <strong>There are no packages present.</strong>
        {% endif %}
    </div>
</div>
{% endblock %}