<!DOCTYPE html>
{% extends 'manager/base.html' %} {% load staticfiles %} {% load markdownify %}

<!--  -->
{% block header_block %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/package.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/readme.css' %}"
/>
{% endblock %}

<!--  -->
{% block body_block %}
<div class="title">
  <h1 id="package_name">{{ package.package_name }}</h1>
  
  <div class="stats">
    <p id="view_count">{{ package.views }} views</p>
    <p id="like_count">{{ package.downloads }} downloads</p>
    <p id="num_versions">{{ version_count }} versions</p>
  </div>
</div>
  
<div class="buttons">
    <a href="{{ package.readme.url }}" class="button">Download Latest</a>

  {% if user_is_owner %}
    <a href="" class="button">Delete</a>

  <a href="{% url 'manager:add_version' package_name=package.package_name %}"
  class="button">add version</a>
  
  {% else %}
  <div></div>
  {% endif %}
</div>

<div class="section_title">
  <h1>readme</h1>
  {% if user_is_owner %}
  <div class="wrapper">
    <a class="button" href="{% url 'manager:edit_readme' package.package_name %}">edit readme</a>
  </div>
  {% endif %}
</div>

<div id="readme">
  <div class="scrollbox">
    {{ readme|markdownify }}
  </div>
</div>

<div class="section_title">
  <h1>Code</h1>
  <h3 class="wrapper">version: {{ version_count }}</h3>
</div>

<div id="code">
  <div class="scrollbox">
    <pre>
      <code>
        <div>{{ code_content }}</div>
      </code>
    </pre>
  </div>
</div>

</div>

{% endblock %}
