{% extends 'manager/base.html' %} {% load staticfiles %}
<!--  -->
{% block header_block %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/tables.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/package_detail.css' %}"
/>
{% endblock %}
<!--  -->
{% block body_block %}
<div>
  <div id="profile_pic">
    {% if user.userprofile.avatar == "" %}
    <img id="avatar" src="{% static 'default_avatar.png' %}" />
    {% else %}
    <img id="avatar" src="{{ user.userprofile.avatar.url }}" alt="avatar" />
    {% endif %}
  </div>

  <div id="name">
    <h1>{{profile.user.username}}</h1>
  </div>

  <div id="my_packages">
    <ul class="package_list">
      {% for package in user_packages %}
      <li class="package">
        <a
          href="{% url 'manager:package' package.package_name %}"
          class="package_link"
        >
          <h2>{{ package.package_name }}</h2>

          <p>description</p>
          <!-- what is this meant to be? -->

          <div class="details">
            <div class="detail">by {{ package.author }}</div>

            <div class="detail">version {{ package.current_version }}</div>
          </div>
          <div class="details">
            <div class="detail">{{ package.downloads }} downloads</div>

            <div class="detail">{{ package.views }} views</div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
