{% extends 'manager/base.html' %} {% load staticfiles %} {% load package_list %}
<!--  -->
{% block header_block %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/tables.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'styles/package_list.css' %}"
/>
{% endblock %}
<!--  -->
{% block body_block %}
<div>
  <div id="profile_pic">
    {% if user.userprofile.avatar == "" %}
    <img id="avatar" src="{% static 'default_avatar.png' %}" />
    {% else %}
    <img id="avatar" src="{{ user.userprofile.avatar.url }}" alt="avatar" />
    {% endif %}
  </div>

  <div id="name">
    <h1>{{profile.user.username}}</h1>
  </div>


  <h1>my packages</h1>
  <a href="{% url 'manager:add_package' %}" class="button">Add a package</a>
  <div id="my_packages">
    {% list_packages %}
  </div>
</div>
{% endblock %}
