<!DOCTYPE html>
{% extends 'base.html' %} {% load staticfiles %}

<!--  -->
{% block header_block %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}" />
{% endblock %}

<!--  -->
{% block body_block %}
<div id="statistics">
  <h2>{{ developers }} developers</h2>
  <h2>{{ packages }} packages</h2>
</div>
<div id="introduction">
  <h2>Why Package Manager?</h2>

  <p>
    Package manager is a full-featured package management solution. PM is
    language agnostic, but its best suited to scripting languages that don't
    have complex build tools - for example, Lua! No matter what you're doing
    though, you can make Package Manager work for you.
  </p>
  <p>
    Speed up your development process by systematically reusing code, organising
    your dependencies and keeping track of versions.
  </p>
</div>
{% endblock %}
