#static {
    position: relative;
    width: 800px;
    height: 600px;
    border: solid;
    margin: auto;
}

#package_input {
    position: absolute;
    left: 10%;
    top: 10%;
    border: solid;
}

#name_version {
    position: absolute;
    left: 10%;
    top: 40%;
    border: solid;
    width: 450px;
    height: 130px;
}

#commit {
    position: absolute;
    left: 10%;
    bottom: 10%;
    border: solid;
}

#button {
    position: absolute;
    right: 10%;
    bottom: 10%;
}