* {
  /* normal CSS resets */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

:root {
  --maroon: #700011;
  --shadow: 0 3px 5px rgba(0, 0, 0, 0.384);
}

body {
  background: url("/static/background.svg");
}

header {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.24);
}

.link {
  color: black;
  text-decoration: underline rgba(0, 0, 0, 0);
  transition: all 0.5s;
  height: 100%;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: underline;
}

.body_container {
  margin: 10vh 10vw;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

#logo {
  height: 8vh;
  margin-left: 10px;
}

#logged_in_profile {
  display: flex;
  justify-content: center;
  height: 10vh;
}

#logout {
  padding: 10px;
}

#avatar {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
}

/* some common styles used around the site */
.button {
  background-color: var(--maroon);
  width: fit-content;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
