#static {
  display: flex;
  flex-direction: row;
}

.flex_container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.segment {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.384);
}

#my_package {
  margin: 10px;
  width: 50%;
}
