.body_container {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border-bottom: solid 1px black;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lavender;
  margin: 5px 0;
  border-radius: 5px;
  padding: 10px;
  box-shadow: var(--shadow);
}

#searchbar {
  border: none;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
