.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#package_name {
  width: fit-content;
}

.body_container {
  display: flex;
  flex-direction: column;
}

.stats {
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  padding: 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.384);
}
