.package_list {
  position: relative;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.package {
  display: flex;
  flex-direction: column;

  padding: 12px;
  background-color: white;
  border-bottom: 1px grey solid;
  transition: all 1s;
}

.package:hover {
  border-radius: 5px;
  transform: scale(110%);
  box-shadow: 0 3px 1px 1px rgba(0, 0, 0, 10%);
}

.package_link {
  color: inherit;
  text-decoration: inherit;
}

.details {
  display: flex;
  font-size: 12px;
  flex-direction: row;
  justify-content: space-between;
}

.detail {
  margin-right: 16px;
}

.page_controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
