.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#package_name {
  width: fit-content;
}

.body_container {
  display: flex;
  flex-direction: column;
}

.stats {
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  padding: 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.384);
}

.section_title {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  padding: 5px;
  box-shadow: var(--shadow);
  background-color: lavender;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#code {
  border-radius: 10px;
  box-shadow: var(--shadow);
  background-color: #282c34;
  overflow: hidden;
  color: white;
}

.scrollbox {
  padding: 10px;
  overflow: scroll;
}
/* custom scrollbar */
.scrollbox::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.scrollbox::-webkit-scrollbar-track {
  background: lavender;
}

.scrollbox::-webkit-scrollbar-thumb {
  background: var(--maroon);
}
